.content {
  margin: 10px 0 0 80px;
  .visa1 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    img {
      width: 100%;
      height: 360px;
      border-radius: 20px;
      object-fit: cover;
      object-position: center;
    }
    .info {
      border-radius: 20px;
      padding: 30px;
      position: relative;
      background: #fefefe;
      z-index: 1;
      article {
        position: absolute;
        bottom: 30px;
        left: 30px;
        h2 {
          font-size: 32px;
          font-weight: 600;
          color: #2b2929;
          font-family: "Gilroy-Regular", sans-serif;
          margin-bottom: 20px;
        }
        span {
          font-size: 24px;
          font-weight: 500;
          color: #5c5c5c;
          line-height: 100%;
        }
      }
      &::before {
        position: absolute;
        content: "";
        background: url(../../assets/Kyrgyzstan.svg) center no-repeat;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
      }
    }
  }
  .visa2 {
    margin-top: 40px;
    h2 {
      font-size: 32px;
      font-weight: 600;
      color: #2b2929;
      font-family: "Gilroy-Regular", sans-serif;
      line-height: 100%;
    }
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin-top: 20px;

      .card {
        padding: 16px;
        background: #fefefe;
        border-radius: 20px;
        .icon {
          font-size: 20px;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          background: #a3d9f733;
        }
        h3 {
          font-size: 20px;
          font-weight: 600;
          color: #2b2929;
          font-family: "Gilroy-Regular", sans-serif;
          margin-top: 20px;
        }
        p {
          font-size: 16px;
          font-weight: 500;
          line-height: 100%;
          font-family: "Gilroy-Medium", sans-serif;
          color: #5c5c5c;
          margin: 10px 0 0 0;
        }
      }
    }
  }
  .visa3 {
    text-align: center;
    margin-top: 40px;
    h2 {
      font-size: 32px;
      font-weight: 600;
      color: #2b2929;
      font-family: "Gilroy-Regular", sans-serif;
    }
    span {
      font-size: 18px;
      font-weight: 500;
      color: #5c5c5c;
      font-family: "Gilroy-Medium", sans-serif;
      margin-top: 16px;
    }
    .search_bar {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-radius: 12px;
      padding: 8px 20px;
      background: #fefefe;
      width: 500px;
      height: 54px;
      margin-top: 20px;

      span {
        display: flex;
        margin: 0;
      }
      input {
        border: none;
        background: none;
        outline: none;
        width: 100%;
      }
    }
  }
  .visa4 {
    margin-top: 40px;
    padding: 20px;
    border-radius: 30px;
    background: #fefefe;
    h2 {
      font-size: 32px;
      font-weight: 600;
      color: #2b2929;
      font-family: "Gilroy-Regular", sans-serif;
      text-align: center;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      color: #5c5c5c;
      font-family: "Gilroy-Medium", sans-serif;
      margin: 10px 0 0 0;
      line-height: 100%;
      text-align: center;
    }
    .information {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      margin-top: 30px;
      .block {
        display: flex;
        flex-direction: column;

        .header {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          padding: 10px 16px;
          span {
            font-size: 20px;
            white-space: nowrap;
            font-weight: 500;
            color: #7e8a99;
            font-family: "Gilroy-Medium", sans-serif;
          }
          .group {
            display: flex;
            gap: 20px;
          }
        }
        .main {
          display: flex;
          flex-direction: column;
          gap: 0;
          .item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 80px;
            padding: 10px 20px;
            border-radius: 10px;
            background: transparent;
            span {
              font-size: 20px;
              font-weight: 500;
              font-family: "Gilroy-Medium", sans-serif;
              color: #5c5c5c;
            }
            .group {
              display: flex;
              align-items: center;
              gap: 20px;
            }
            .country {
              display: flex;
              align-items: center;
              gap: 20px;
              .img {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                background: url(../../assets/flagg.png);
                background-position: center !important;
                background-size: cover !important;
              }
            }
          }
          .item:nth-of-type(1),
          .item:nth-of-type(3),
          .item:nth-of-type(5),
          .item:nth-of-type(7) {
            background: #f1f3f5;
          }
        }
      }
    }
  }
  .visa6 {
    margin-top: 40px;
    padding: 0 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    h2 {
      font-size: 32px;
      font-weight: 600;
      font-family: "Gilroy-Regular", sans-serif;
      color: #2b2929;
      text-align: center;
      margin-bottom: 40px;
    }

    .proccess {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      padding-bottom: 15px;

      .proccess_block {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        position: relative;
      }

      .proccess_card {
        border-radius: 20px;
        padding: 20px;
        background: #fefefe;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s ease;
        min-height: 150px; /* Ensure consistent height */
        height: 100%;
        box-sizing: border-box;

        h4 {
          font-size: 30px;
          font-weight: 600;
          color: #282828;
          font-family: "Gilroy-Regular", sans-serif;
          margin-bottom: 12px;
        }

        span {
          font-size: 18px;
          font-weight: 400;
          font-family: "Gilroy-Regular", sans-serif;
          color: #5c5c5c;
          line-height: 1.2;
          text-align: center;
        }

        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
  .visa7 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
    .info_card {
      padding: 20px;
      border-radius: 30px;
      background: #fefefe;
      h2 {
        font-size: 32px;
        font-weight: 600;
        color: #2b2929;
        font-family: "Gilroy-Regular", sans-serif;
      }
      .intro {
        color: #5c5c5c;
        font-family: "Gilroy-Medium", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 100%;
        margin: 20px 0 0 0;
      }
      .texts {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
        article {
          display: flex;
          gap: 20px;
          font-size: 20px;
          font-weight: 500;
          color: #5c5c5c;
          font-family: "Gilroy-Medium", sans-serif;
        }
      }
    }
  }
  .visa8 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    h2 {
      font-size: 32px;
      font-weight: 600;
      color: #2b2929;
      font-family: "Gilroy-Regular", sans-serif;
      line-height: 100%;
    }
    .qa_block {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .qa_card {
        padding: 20px;
        background: #fefefe;
        border-radius: 16px;

        article {
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          .icon {
            font-size: 18px;
            color: #282828;
            transition: transform 0.3s ease;
          }

          .rotated {
            transform: rotate(180deg);
          }

          h3 {
            font-size: 20px;
            font-weight: 600;
            color: #2b2929;
            font-family: "Gilroy-Regular", sans-serif;
          }
        }

        .answer_wrapper {
          max-height: 0;
          opacity: 0;
          overflow: hidden;
          transition: all 0.4s ease;
        }

        .open {
          max-height: 500px;
          opacity: 1;
          margin-top: 10px;
        }

        .answer {
          font-size: 16px;
          font-weight: 400;
          font-family: "Gilroy-Regular", sans-serif;
          color: #9e9e9e;
          line-height: 150%;
        }
      }
    }
  }
  .visa9 {
    border-radius: 30px;
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 300px;
    margin-top: 40px;
    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        font-size: 32px;
        font-weight: 600;
        color: #005b7d;
        line-height: 100%;
        font-family: "Gilroy-Regular", sans-serif;
        text-align: center;
      }
      span {
        font-size: 20px;
        font-weight: 500;
        color: #9ea9b7;
        line-height: 100%;
        font-family: "Gilroy-Medium", sans-serif;
        text-align: center;
        margin-top: 16px;
      }
      .link {
        border-radius: 12px;
        padding: 10px 20px;
        background: #0091d4;
        font-size: 16px;
        font-weight: 500;
        font-family: "SF Pro Display", sans-serif;
        color: #ffffff;
        text-decoration: none;
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .content {
    .visa4 {
      .information {
        grid-template-columns: 1fr;
        .block:last-child {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .content {
    margin: 0;
    .visa6 {
      .proccess {
        display: flex;
        overflow-x: auto;

        scroll-snap-type: x mandatory;
        padding-bottom: 20px;
        &::-webkit-scrollbar {
          display: none;
        }

        .proccess_block {
          flex: 0 0 auto;
          min-width: 150px;
          max-width: 200px;
          scroll-snap-align: center;
          position: relative;
        }

        .proccess_card {
          min-width: 180px;
          padding: 16px;
          min-height: 120px;
        }
      }
    }
    .visa7 {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
}

@media (max-width: 800px) {
  .content {
    .visa1 {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      margin-top: 30px;
      img {
        grid-column: 1/2;
      }
    }
    .visa2 {
      .cards {
        grid-template-columns: 1fr 1fr;
      }
    }
    .visa8 {
      margin-top: 30px;
      grid-template-columns: 1fr;
      gap: 10px;
    }
  }
}

@media (max-width: 600px) {
  .content {
    .visa1 {
      .info {
        grid-row: 2/3;
      }
    }
    .visa3 {
      margin-top: 30px;
    }
    .visa4 {
      margin-top: 30px;
      h2 {
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
      .information {
        margin-top: 16px;
        .block {
          .header {
            span {
              font-size: 14px;
            }
          }
          .main {
            margin-top: 0;
            .item {
              display: flex;
              justify-content: space-between;
              gap: 0;
              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .visa6 {
      margin-top: 30px;
      h2 {
        font-size: 24px;
        margin: 0;
      }

      .proccess {
        .proccess_card {
          min-width: 160px;
          min-height: 100px;

          h4 {
            font-size: 24px;
          }

          span {
            font-size: 16px;
          }
        }
      }
    }
    .visa9 {
      padding: 16px;
      margin-top: 30px;
      article {
        h2 {
          font-size: 24px;
        }
        span {
          font-size: 16px;
          margin-top: 10px;
        }
        .link {
          width: 100%;
          text-align: center;
          margin-top: 20px;
        }
      }
    }
  }
}

@media (max-width: 540px) {
  .content {
    .visa1 {
      .info {
        article {
          h2 {
            font-size: 24px;
          }
          span {
            font-size: 16px;
          }
        }
      }
    }
    .visa2 {
      margin-top: 30px;
      h2 {
        font-size: 24px;
      }
      .cards {
        grid-template-columns: 1fr;
        gap: 10px;
        .card {
          h3 {
            margin-top: 8px;
            font-size: 18px;
          }
          p {
            margin-top: 8px;
            font-size: 14px;
          }
        }
      }
    }
    .visa3 {
      h2 {
        font-size: 24px;
      }
      span {
        font-size: 16px;
        line-height: 100%;
      }
      iframe {
        height: 350px;
        margin-top: 30px;
      }
    }
    .visa4 {
      .information {
        .block {
          .header {
            span {
              font-size: 11px;
            }
          }
          .main {
            .item {
              padding: 12px;
              span {
                font-size: 12[];
              }
              .group {
                gap: 10px;
              }
            }
          }
        }
      }
    }
    .visa7 {
      gap: 10px;
      .info_card {
        padding: 16px;
        border-radius: 20px;
        h2 {
          font-size: 24px;
        }
        .intro {
          font-size: 16px;
          margin-top: 10px;
        }
        .texts {
          article {
            font-size: 16px;
            gap: 5px;
          }
        }
      }
    }
    .visa8 {
      h2 {
        font-size: 24px;
      }
      .qa_block {
        .qa_card {
          padding: 15px;
          article {
            h3 {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
