.content {
  margin: 10px 0 0 80px;
  .banner {
    background: url(../../assets/pppp.jpg);
    height: 389px;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 30px;
  }
  .main {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    .info_section {
      background: #fefefe;
      border-radius: 30px;
      padding: 30px;
      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .header_child1 {
          display: flex;
          align-items: center;
          gap: 10px;
          .category {
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "SF Pro Display", sans-serif;
            color: #005b7d;
            background: #a3d9f733;
            border-radius: 8px;
            padding: 4px 8px;
          }
          .dot {
            width: 6px;
            height: 5px;
            border-radius: 50px;
            background: #9e9e9e;
          }
          .date {
            font-size: 14px;
            font-weight: 500;
            color: #9e9e9e;
            font-family: "SF Pro Display", sans-serif;
          }
        }
        .header_child2 {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 14px;
          font-weight: 500;
          color: #2b2929;
          font-family: "SF Pro Display", sans-serif;
          border: 1px solid #2b2929;
          border-radius: 8px;
          padding: 6px 10px;
          cursor: pointer;
          .icon {
            display: flex;
          }
        }
      }
      .heading {
        margin-top: 16px;
        h1 {
          font-size: 36px;
          font-weight: 600;
          color: #2b2929;
          font-family: "Gilroy-Regular", sans-serif;
          margin: 0;
        }
        p {
          font-size: 18px;
          font-weight: 600;
          color: #5c5c5c;
          line-break: 100%;
          font-family: "Gilroy-Regular", sans-serif;

          margin: 8px 0 0 0;
        }
      }
      article {
        font-size: 20px;
        font-weight: 500;
        color: #9e9e9e;
        font-family: "Gilroy-Medium", sans-serif;
        line-height: 100%;
        margin-top: 40px;
      }
    }
    .author {
      border-radius: 20px;
      padding: 20px;
      background: #fefefe;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .author_header {
        display: flex;
        align-items: center;
        gap: 10px;
        aside {
          h3 {
            font-size: 15px;
            font-weight: 500;
            font-family: "Inter", sans-serif;
            margin: 0;
          }
          p {
            font-size: 14px;
            font-weight: 400;
            color: #757575;
            font-family: "Inter", sans-serif;
            margin: 5px 0 0 0;
          }
        }
      }
      .share {
        h2 {
          font-size: 18px;
          font-weight: 600;
          color: #2b2929;
          font-family: "Gilroy-Regular", sans-serif;
          margin: 0;
        }
        .smedia {
          display: flex;
          gap: 30px;
          margin-top: 10px;
          .sm {
            background: #a3d9f733;
            width: 40px;
            height: 40px;
            border-radius: 12px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  .suggestions {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    h1 {
      margin-bottom: 20px;
      font-size: 32px;
      font-weight: 500;
      color: #2b2929;
      font-family: "SF Pro Display", sans-serif;
    }
  }
  .follow {
    margin-top: 60px;
    margin-top: 60px 0;
    background: #ffffff;
    border-radius: 30px;
    height: 300px;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    article {
      padding: 0 20px;
      h2 {
        font-size: 32px;
        font-weight: 600;
        color: #005b7d;
        font-family: "Gilroy-Regular", sans-serif;
        line-height: 100%;
        margin: 0;
        text-align: center;
      }
      p {
        margin: 16px 0 0 0;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: #9ea9b7;
        font-family: "Gilroy-Medium", sans-serif;
        line-height: 100%;
      }
      form {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        input {
          border: none;
          outline: none;
          border-radius: 12px;
          padding: 8px 20px;
          background: #f1f3f5;
          width: 300px;
          height: 48px;
        }
        button {
          font-size: 16px;
          font-weight: 500;
          color: #fff;
          background: #0091d4;
          padding: 10px 20px;
          border-radius: 12px;
          border: none;
          outline: none;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .content {
    margin-left: 0;
    .main {
      grid-template-columns: 1fr;
      .info_section {
        grid-row: 2/3;
      }
    }
  }
}

@media (max-width: 650px) {
  .content {
    .banner {
      height: 200px;
    }
    .main {
      margin-top: 20px;
      .author {
        height: 150px;
        .author_header {
          aside {
            h3 {
              font-size: 14px;
            }
            p {
              font-size: 12px;
            }
          }
        }
        .share {
          justify-content: space-between;
          display: flex;
          align-items: center;

          h2 {
            font-size: 12px;
          }
          .smedia {
            margin-top: 0;
            gap: 15px;
          }
        }
      }
      .info_section {
        .header {
          flex-direction: column;
          .header_child1 {
            justify-content: space-between;
            .category,
            .date {
              font-size: 12px;
              text-align: center;
              // white-space: nowrap;
            }
          }
          .header_child1,
          .header_child2 {
            width: 100%;
          }
          .header_child2 {
            align-items: center;
            justify-content: center;
            margin-top: 10px;
          }
        }
        .heading {
          h1 {
            font-size: 24px;
          }
          p {
            font-size: 16px;
            margin-top: 8px;
          }
        }
        article {
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
    .suggestions {
      margin-top: 20px;
      h1 {
        margin: 0;
        font-size: 24px;
      }
    }
    .follow {
      margin-top: 20px;
      article {
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 16px;
        }
      }
      form {
        flex-direction: column;
        input,
        button {
          width: 100% !important;
        }
      }
    }
  }
}
