.box {
  background: #d2d5da;
  width: 35px;
  height: 20px;
  cursor: pointer;
  border-radius: 100px;
  position: relative;
  .child {
    height: 16px;
    width: 16px;
    border-radius: 100px;
    background: #ffffff;
    position: absolute;
    transition: transform 0.2s ease-in;
    top: 2.2px;
    left: 2px;
  }
  .activated {
    transform: translateX(90%);
  }
}
