.content {
  margin: 10px 0 0 80px;
  main {
    object-fit: cover;
    background: url(../../assets/tour.svg);
    width: 100%;
    height: 730px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width: 900px) {
  .content {
    margin-left: 0;
    main {
      background: #d5d5d5;
      height: 700px;
      width: 100%;
      border-radius: 30px;
    }
  }
}
